version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: supply_chain_risk
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DATABASE_URL: postgresql://user:password@db/supply_chain_risk
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - ./ml_model:/app/ml_model
      - ./data:/app/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
